<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>827229036452-p0hto1jm1m51gv0krnr8no7tfo7snhrq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.827229036452-p0hto1jm1m51gv0krnr8no7tfo7snhrq</string>
	<key>API_KEY</key>
	<string>AIzaSyDgT0YiNO1azPG5T7SSGN5zTTM9aA90GUs</string>
	<key>GCM_SENDER_ID</key>
	<string>827229036452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cardapp</string>
	<key>PROJECT_ID</key>
	<string>buscardapp-af050</string>
	<key>STORAGE_BUCKET</key>
	<string>buscardapp-af050.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827229036452:ios:38c77a6f614319b12c6b31</string>
</dict>
</plist>